{% extends 'base.html.twig' %}

{% block title %}Budget index{% endblock %}

{% block body %}
    <h1>Budget index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>StartingAt</th>
                <th>EndingAt</th>
                <th>KickoffAmount</th>
                <th>LeftAmount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for budget in budgets %}
            <tr>
                <td>{{ budget.id }}</td>
                <td>{{ budget.name }}</td>
                <td>{{ budget.createdAt ? budget.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ budget.startingAt ? budget.startingAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ budget.endingAt ? budget.endingAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ budget.kickoffAmount }}</td>
                <td>{{ budget.leftAmount }}</td>
                <td>
                    <a href="{{ path('app_budget_show', {'id': budget.id}) }}">show</a>
                    <a href="{{ path('app_budget_edit', {'id': budget.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_budget_new') }}">Create new</a>
{% endblock %}
